<div class="flex flex-col items-center justify-center p-5">

    <div class="py-6 font-semibold">
        {{ isGameComplete()? 'Congratulations! Sudoku Solved!' : 'Sudoku' }}
    </div>

    <div class="flex gap-2 mb-4">
        @for (level of difficultyButtons; track $index) {
            <button
                type="button"
                class="py-1 px-4 text-gray-400 hover:text-gray-800"
                [class.text-gray-800]="difficulty() === level"
                (click)="onDifficultyButtonClick(level)"
            >{{ level }}</button>
        }
    </div>

    <div class="grid grid-cols-9 bg-white border-2 border-blue-900/30 rounded-lg overflow-hidden">
        @for (row of gridData(); track rowIndex; let rowIndex = $index; let lastRow = $last) {
            @for (cell of row; track colIndex; let colIndex = $index; let lastCell = $last) {
                <div
                    class="relative"
                    [ngClass]="getBoardCellNgClass(rowIndex, lastRow, colIndex, lastCell)"
                >
                    <app-sudoku-cell
                        [cellData]="cell"
                        (cellClick)="handleCellClick(cell.id)"
                        [isSelected]="cell.id === selectedCellId()"
                    />
                </div>
            }
        }
    </div>

    <div class="flex gap-1 py-8">
        <button
            type="button"
            class="w-8 h-8  text-white rounded-md bg-slate-700 hover:bg-slate-500 disabled:bg-gray-300"
            [disabled]="isButtonDisabled()"
            (click)="onNumberButtonClick()"
        >✕
        </button>

        @for (num of numberButtons; track $index) {
            <button
                type="button"
                class="w-8 h-8  text-white rounded-md bg-slate-700 hover:bg-slate-500 disabled:bg-gray-300"
                [disabled]="isButtonDisabled()"
                (click)="onNumberButtonClick(num)"
            >{{ num }}
            </button>
        }
    </div>

</div>
